|module.run(['$templateCache', ($templateCache) ->
|  $templateCache.put('plugin/slack-auth', '''
div(tg-slack-login-button)
    a.button.button-auth(href="", title="Enter with your slack account")
        img(height="15px", src="/plugins/slack-auth/images/slack-logo.png")
        span Sign in with Slack
|''')]);
